body{
}

.navbar-nav{
  li{
    a.button{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.clickable{
  cursor: pointer;
  &.clicked{
    text-decoration: underline;
  }
}

.recipe{
  @extend .clickable;
}

.ingredient{
  @extend .clickable;
}
